In [1]:
import pandas as pd
import polars as pl

In [4]:
df_pd  = pd.DataFrame(
    {
        'int_list': [[0, 1], [2, 3]],
        'float_list': [[0.0, 1], [2.2, 3]],
        'mixed_object': [['a', 0], ['b', 1]]
    }
)

In [5]:
df_pd

  int_list float_list mixed_object
0   [0, 1]   [0.0, 1]       [a, 0]
1   [2, 3]   [2.2, 3]       [b, 1]

In [29]:
df_pl  = pl.DataFrame(
    {
        'list': [[0, 1], [2, 3]],
        'object_and_num': [['a', 0], ['b', 1]]
    }
).with_columns(array=pl.col('list').cast(pl.Array(width=2, inner=pl.Int64)))

In [30]:
df_pl

shape: (2, 3)
┌───────────┬────────────────┬───────────────┐
│ list      ┆ object_and_num ┆ array         │
│ ---       ┆ ---            ┆ ---           │
│ list[i64] ┆ object         ┆ array[i64, 2] │
╞═══════════╪════════════════╪═══════════════╡
│ [0, 1]    ┆ ['a', 0]       ┆ [0, 1]        │
│ [2, 3]    ┆ ['b', 1]       ┆ [2, 3]        │
└───────────┴────────────────┴───────────────┘

In [31]:
type(df_pl['list'][0])

polars.series.series.Series

In [32]:
type(df_pl['object_and_num'][0])

list

In [33]:
type(df_pl['array'][0])

polars.series.series.Series